<% introduction_text =
"
We are an agency that is specialized in creating MVP's and everything that goes with it. Through our experience we are also available to organise design sprints, specified workshops and give digital consulting. So if you are starting business, we can help you start and get on the right track. And for current businesses, let us help you take it to the next level.
"
%>

<div id="overview" class="image-banner-with-text hidden-xs" style="  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= image_path 'charles-sprint.jpg' %>);">
  <%= render partial: 'shared/text_banner', locals: {
    header: "Cool idea? Ready to tackle it?",
    content:introduction_text,
    button: {
      display_text: "Let's talk",
      path: contact_path
    }
  } %>
</div>


<div class="tabs">
  <a href="#" class="tab active" data-target="mvp">
    <h3>
      Digital Products
    </h3>
  </a>
  <a href="#" class="tab" data-target="sprints">
    <h3>
      Sprints
    </h3>
  </a>
  <a href="#" class="tab" data-target="consulting">
    <h3>
      Digital Consulting
    </h3>
  </a>
</div>




<div class="tab-content" id="mvp">
  <%= render partial: 'mvp' %>
</div>

<div class="tab-content hidden" id="sprints">
  <%= render partial: 'sprints' %>
</div>

<div class="tab-content hidden" id="consulting">
  <%= render partial: 'digitalconsulting' %>
</div>
