<% content_for(:sidebar) do %>
<%= render partial: 'shared/sidebar', locals: {
  sidebar_items: @sidebar_items
} %>
<% end %>

<div id="overview" class="margin-top image-banner-with-text" style="  background-image: url(https://media.giphy.com/media/3t9vvI7AdzBuM/giphy.gif),linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
">
  <%= render partial: 'shared/text_banner', locals: {
    header: "Cool idea? Ready to tackle it?",
    content:
    "We are an agency that is specialized in creating MVP's and everything that goes with it. Through our experience we are also available to organise design sprints, specified workshops and give digital consulting. So if you are starting business, we can help you start and get on the right track. And for current businesses, let us help you take it to the next level.",
    button: {
      display_text: "Let's talk",
      path: contact_path
    }
  } %>
</div>


<div class="three-cards-container marged">
  <div class="row">
    <div class="col-xs-4">
      <%= render partial: 'shared/cards/service_card', locals: {
        header: 'Sprints',
        fontawesome: 'sitemap',
        list: [
          "Idea creation",
          "Up to 5 days",
          "Rapid prototyping",
          "Idea creation",
          "Idea creation"
          ],
          button_path: sprints_services_path
        } %>
      </div>
      <div class="col-xs-4">
        <%= render partial: 'shared/cards/service_card', locals: {
          header: 'MVP',
          fontawesome: 'rocket',
          list: [
            "Idea creation",
            "Up to 5 days",
            "Rapid prototyping",
            "Idea creation",
            "Idea creation"
            ],
            button_path: sprints_services_path
          } %>
        </div>
        <div class="col-xs-4">
          <%= render partial: 'shared/cards/service_card', locals: {
            header: 'Digital Consulting',
            fontawesome: 'handshake-o',
            list: [
              "Idea creation",
              "Up to 5 days",
              "Rapid prototyping",
              "Idea creation",
              "Idea creation"
              ],
              button_path: digitalconsulting_services_path
            } %>
          </div>
        </div>
      </div>

      <%= render partial: 'mvp' %>
      <%= render partial: 'sprints' %>
      <%= render partial: 'digitalconsulting' %>

