<div class="navbar-unless <%= is_home? ? 'navbar-unless-inverted' : 'navbar-unless-regular' %>">
  <%= link_to root_path, class: "logo" do %>
  <% if is_home? %>
    <%= image_tag 'unless_icon_white.svg' %>
  <% else %>
    <%= image_tag 'unless_icon_red.svg' %>
  <% end %>
  <span>
    Unless
  </span>
  <% end %>

  <div class="navbar-group-right">
    <ul class="list-inline">
      <li class="<%= 'active' if params[:controller] == 'abouts' %>">
        <%= link_to "About", about_path, "data-target": "abouts", class: 'nav-item' %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'services' %>">
        <%= link_to "Services", services_path, "data-target": "services", class: 'nav-item' %>
      </li>
      <li class="<%= 'active' if params[:controller] == 'portfolios' %>">
        <%= link_to "Portfolio", portfolio_path, class: 'nav-item' %>
      </li>
    </ul>
    <% if is_home? %>
      <%= link_to "Get in touch", contact_about_path, class: 'button-white' %>
    <% else %>
      <%= link_to "Get in touch", contact_about_path, class: 'button-red' %>
    <% end %>
  </div>
<%= render partial: 'shared/hidden_dropdown' %>
</div>
