<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} | Contact" %>
<div class="contact-form">
  <h2 class="margin-bottom">
    Hello, is it me you’re looking for?
  </h2>
  <p class="margin-bottom">
    If you are looking for me, or us, fill out this form and we will get back to you within one day. Feel free to email, Facebook message or tweet, instead of filling out this form. We also like all of those things.
  </p>
  <div class="container-custom">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <%= render partial: "contact_form" %>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="map-data-layout">
          <div id="map" class="map"></div>
          <div class="data-below">
            <div class="data-left">
              <h3>
                Unless
              </h3>
              <p>
                <a href="http://reptoir.nl/" class="simple-link-white" target="_blank">Reptoir</a>
                <br>
                Van Eeghenstraat 98
                <br>
                1071 GL Amsterdam
                <br>
                <%= mail_to "info@unless.io", "info@unless.io", class: "simple-link-white" %>
                <br>
                <a href="tel:+31630723393" class="simple-link-white">+316 307 233 93</a>
              </p>
            </div>
            <div class="data-right">
              <h4>
                Subscribe to our newsletter
              </h4>
              <form action="https://unless.us16.list-manage.com/subscribe/post?u=9053d850a997b91925dd13fdd&amp;id=c067130711" name="mc-embedded-subscribe-form" method="POST" class="newsletter-form" target="_blank" novalidate>
                <div class="group">
                  <input type="text" name="EMAIL" class="text-input" id="input-newsletter" placeholder="Your email">
                  <div class="bottom-line"></div>
                </div>
                <div class="hidden" aria-hidden="true">
                  <input type="text" name="b_9053d850a997b91925dd13fdd_c067130711" tabindex="-1" value="">
                </div>
                <input type="submit" value="Subscribe" name="subscribe" id="submit-newsletter" class="button-white-outline">
              </form>
              <div class="social-media-links">
                <%= link_to "https://www.facebook.com/unlessio/", class: "tiny-square-button", target: "_blank" do %>
                  <i class="fa fa-facebook"></i>
                <% end %>
                <%= link_to "https://twitter.com/unless_io", class: "tiny-square-button", target: "_blank" do %>
                  <i class="fa fa-twitter"></i>
                <% end %>
                <%= link_to "https://www.behance.net/unless-io", class: "tiny-square-button", target: "_blank" do %>
                  <i class="fa fa-behance"></i>
                <% end %>
                <%= link_to "https://www.linkedin.com/company/17889289/", class: "tiny-square-button", target: "_blank" do %>
                  <i class="fa fa-linkedin"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for(:js) do %>
  <script>
    function initMap() {
      var uluru = {lat: 52.356936, lng: 4.869956};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: uluru
      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
    }
  </script>
  <script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_BROWSER_KEY'] %>&callback=initMap"></script>
<% end %>
