<div class="content-container">
  <div class="title">
    <div class="breadcrumbs">
      <%= link_to "Portfolio", portfolio_path %> > <%= @project["title"] %>
    </div>
    <h2>
      <%= @project["title"] %>
    </h2>
  </div>
  <div class="two-columns-higher">
    <div class="left">
      <%= image_tag @project["image"] %>
    </div>
    <div class="right">
      <p>
        <%= @project["description"].html_safe %>
      </p>
    </div>
  </div>
</div>
