<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= render 'shared/meta' %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= render 'shared/google_analytics' %>
</head>
<body class="<%= params[:controller] %>-<%= params[:action] %>">
  <div class="<%= 'navbar-wrapper' unless params[:controller] == 'pages' && params[:action] == 'home' %>">
    <%= render 'shared/navbar' %>
  </div>
  <%= render 'shared/flashes' %>
  <%= yield(:sidebar) %>
  <%= yield %>
  <%= render 'shared/footer' %>
  <%= javascript_include_tag 'application' %>
  <%= render 'shared/drift' %>
  <%= yield(:js) %>
</body>
</html>
